CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_ESP_MAIN_TASK_STACK_SIZE=12288
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_FREERTOS_HZ=1000
CONFIG_EXAMPLE_LCD_INTERFACE_SPI_WITHOUT_PSRAM=y
CONFIG_EXAMPLE_DISPLAY_ROTATION_0=y
